# 1

In [5]:
import pandas as pd

data = pd.DataFrame({
    "Date": ["2023-01-02", "2023-01-06", "2023-01-03", "2023-01-20", "2023-01-04", 
             "2023-01-17", "2023-01-14", "2023-01-07", "2023-01-11", "2023-01-01", 
             "2023-01-19", "2023-01-12", "2023-01-09", "2023-01-10", "2023-01-08", 
             "2023-01-05", "2023-01-15", "2023-01-18", "2023-01-13", "2023-01-16"],
    "Product": ["Tablet", "Laptop", "Tablet", "Tablet", "Laptop", 
                "Tablet", "Keyboard", "Smartphone", "Smartphone", "Laptop", 
                "Monitor", "Laptop", "Monitor", "Smartphone", "Laptop", 
                "Keyboard", "Tablet", "Monitor", "Tablet", "Tablet"],
    "Region": ["East", "North", "East", "North", "West", 
               "North", "East", "East", "West", "North", 
               "North", "West", "North", "North", "East", 
               "North", "North", "West", "West", "South"],
    "Sales": [1061.81, 1926.07, 1597.99, 1397.99, 734.03, 
              733.99, 587.13, 1799.26, 1401.67, 1562.11, 
              530.88, 1954.86, 1748.66, 818.51, 772.74, 
              775.11, 956.36, 1287.13, 1147.92, 936.84],
    "Profit": [236.12, 246.34, 253.17, 242.23, 140.36, 
               188.66, 82.16, 364.97, 306.24, 170.72, 
               117.59, 262.16, 197.62, 237.19, 226.51, 
               202.83, 153.9, 153.86, 271.88, 176.15],
    "Quantity": [7, 8, 3, 1, 4, 
                 2, 8, 4, 2, 6, 
                 6, 4, 6, 2, 2, 
                 4, 8, 7, 9, 8]
})

print("First 5 rows of the dataset:")
print(data.head())

print("\nBasic statistics of numerical columns:")
print(data.describe())

First 5 rows of the dataset:
         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

Basic statistics of numerical columns:
             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

# 2

In [9]:
import pandas as pd

data = pd.DataFrame({
    "Date": ["2023-01-02", "2023-01-06", "2023-01-03", "2023-01-20", "2023-01-04", 
             "2023-01-17", "2023-01-14", "2023-01-07", "2023-01-11", "2023-01-01", 
             "2023-01-19", "2023-01-12", "2023-01-09", "2023-01-10", "2023-01-08", 
             "2023-01-05", "2023-01-15", "2023-01-18", "2023-01-13", "2023-01-16"],
    "Product": ["Tablet", "Laptop", "Tablet", "Tablet", "Laptop", 
                "Tablet", "Keyboard", "Smartphone", "Smartphone", "Laptop", 
                "Monitor", "Laptop", "Monitor", "Smartphone", "Laptop", 
                "Keyboard", "Tablet", "Monitor", "Tablet", "Tablet"],
    "Region": ["East", "North", "East", "North", "West", 
               "North", "East", "East", "West", "North", 
               "North", "West", "North", "North", "East", 
               "North", "North", "West", "West", "South"],
    "Sales": [1061.81, 1926.07, 1597.99, 1397.99, 734.03, 
              733.99, 587.13, 1799.26, 1401.67, 1562.11, 
              530.88, 1954.86, 1748.66, 818.51, 772.74, 
              775.11, 956.36, 1287.13, 1147.92, 936.84],
    "Profit": [236.12, 246.34, 253.17, 242.23, 140.36, 
               188.66, 82.16, 364.97, 306.24, 170.72, 
               117.59, 262.16, 197.62, 237.19, 226.51, 
               202.83, 153.9, 153.86, 271.88, 176.15],
    "Quantity": [7, 8, 3, 1, 4, 
                 2, 8, 4, 2, 6, 
                 6, 4, 6, 2, 2, 
                 4, 8, 7, 9, 8]
})

total_sales_by_region = data.groupby("Region")["Sales"].sum()

most_sold_product = data.groupby("Product")["Quantity"].sum().idxmax()

data["Profit Margin"] = (data["Profit"] / data["Sales"]) * 100
average_profit_margin_by_product = data.groupby("Product")["Profit Margin"].mean()

print("Total sales for each region:")
print(total_sales_by_region)

print("\nMost sold product (based on quantity):")
print(most_sold_product)

print("\nAverage profit margin for each product:")
print(average_profit_margin_by_product)

Total sales for each region:
Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

Most sold product (based on quantity):
Tablet

Average profit margin for each product:
Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit Margin, dtype: float64